<style type="text/css" media=screen>
body
{
	text-align: center;
	
}

#login{
	background-color: #ddd;
	margin-top: 50px;
    margin-bottom: 50px;
    margin-left:450px;
	display: block;
    color: #666;
    float: center;
    width: 30%;
    text-align: center;
    border-style: solid; border-width: thick;
    text-decoration: none;
}
